.kj-row
    border-bottom: 1px solid black
    padding: 15px 16px 16px
    font-family: "pretendard jp"
    font-weight: 400

    .sentence-contain
        font-size: 30px
        margin-bottom: 9px

        .word
            margin-bottom: 10px

            .bubble
                font-size: 22px
                color: white
                background: black
                border-radius: 20px
                padding: 1.2px 11px 2px

        .sentence
            span.highlighted
                color: #a7cb49
                font-weight: 500

                // while parent is checked or xed, darken the highlight
                ~/.checked ^[1..-1], ~/.xed ^[1..-1]
                    color: #607820

    .state-control
        display: flex
        justify-content: center
        margin-bottom: 15px

        .check-icon
            color: #279330
            width: 19px
            height: 19px

        .x-icon
            color: #bf4650
            width: 19px
            height: 19px

    .control
        display: flex

        .right
            display: flex
            justify-content: end

        .left
            flex: 1

    &.selected
        background: #0000000f
        outline: 2px solid #454c2e

        &.xed
            outline-color: #492222
            background: #72383d59

        &.checked
            background: #5b725b45

    &.checked
        opacity: .6
        background: #89c18945

    &.xed
        opacity: .6
        background: #bf465040