.kj-row
    width: 570px
    padding-bottom: 12px
    border-bottom: 1px solid black

    .sentence-contain
        font-size: 20px
        margin-bottom: 5px

        span.highlighted
            color: #a7cb49
            font-weight: 500

    .state-control
        display: flex
        justify-content: center
        margin-bottom: 15px

        .check-icon
            color: #279330
            width: 19px
            height: 19px

        .x-icon
            color: #bf4650
            width: 19px
            height: 19px

    .control
        display: flex

        .right
            display: flex
            justify-content: end

        .left
            flex: 1