.kj-row
    border-bottom: 1px solid var(--lines-colour,black)
    padding: 15px 16px 16px
    font-family: "pretendard jp"
    font-weight: 400

    .sentence-contain
        font-size: 30px
        margin-bottom: 9px

        .word
            margin-bottom: 10px

            .bubble
                font-size: 22px
                color: white
                background: black
                border-radius: 20px
                padding: 1.2px 11px 2px
                border: 1px solid var(--lines-colour,transparent)

        .sentence
            span.highlighted
                color: #a7cb49
                font-weight: 500

                // while parent is checked or xed, darken the highlight
                ~/.checked ^[1..-1], ~/.xed ^[1..-1]
                    color: var(--kanji-highlight,#607820)

    .state-control
        display: flex
        justify-content: center
        margin-bottom: 15px

        .check-icon
            color: var(--button2-green-icon,#279330)
            width: 19px
            height: 19px

        .x-icon
            color: var(--button2-red-icon-colour,#bf4650)
            width: 19px
            height: 19px

    .control
        display: flex

        .right
            display: flex
            justify-content: end

        .left
            flex: 1

            .copied
                color: var(--copied-text,#279330)

                // while top level is selected, darken
                ~/.selected ^[1..-1]
                    color: #2f6e34

    &.selected
        outline: 4px solid var(--selected-border,transparentify(#3a3a3a,65%))
        outline-offset: -4px

    &.checked
        background: rgba(137 193 137 20%)

        .button1
            &:hover
                background-color: #c0cdb791

            &:active
                background-color: #9bac8f87

    &.xed
        background: rgba(191 70 80 20%)

        .button1
            &:hover
                background-color: #b88b8b57

            &:active
                background-color: #ad7c7c7a