main
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

    .top
        height: 120px
        width: 100%

    .kj-rows
        width: 45%
        min-width: 610px

        .kj-row
            margin-bottom: 30px

        @media (max-width: 610px)
            width: 100%
            min-width: auto