.button2
    display: inline-flex
    border: 1px solid #b1b1b1
    padding: 6px 30px 6px 30px
    cursor: pointer
    user-select: none

    &.left-button
        border-radius: 15px 0 0 15px
        padding: 6px 22px 6px 30px

    &.right-button
        border-radius: 0 15px 15px 0
        padding: 6px 30px 6px 22px

    &.active-green
        $bgColour=#b4c8c0
        $borderColour=#5f5f5f
        background: $bgColour
        border-color: $borderColour

        &:hover
            background: lighten($bgColour,20%)

        &:active
            background: darken($bgColour,20%)
            border-color: darken($borderColour,20%)

    &.active-red
        $bgColour=#e0a5a5
        $borderColour=#853232
        background: $bgColour
        border-color: $borderColour

        &:hover
            background: lighten($bgColour,20%)

        &:active
            background: darken($bgColour,20%)
            border-color: darken($borderColour,15%)

    &.sub-active
        &:hover
            background: #f5f5f585

    &:hover
        background: whitesmoke
        border-color: #777777


    &:active
        background: #dbdbdb
        border-color: #a9a9a9