.button2
    display: inline-flex
    border: 1px solid #b1b1b1
    padding: 6px 30px 6px 30px
    cursor: pointer
    user-select: none

    &.left-button
        border-radius: 15px 0 0 15px
        padding: 6px 22px 6px 30px

    &.right-button
        border-radius: 0 15px 15px 0
        padding: 6px 30px 6px 22px

    &.active-green
        $bgColour=#b4c8c0a3
        $borderColour=#5f5f5f
        background: $bgColour
        border-color: $borderColour

        &:hover
            background: lighten($bgColour,20%)

        &:active
            background: darken($bgColour,20%)
            border-color: darken($borderColour,20%)

    &.active-red
        $bgColour=var(--button2-red-background,#e0a5a596)
        $borderColour=var(--button2-red-border,#853232)
        background: $bgColour
        border-color: $borderColour

        &:hover
            background: var(--button2-red-hover-background,lighten(#e0a5a596,20%))
            border-color: var(--button2-red-hover-border,inherit)

        &:active
            background: darken(#e0a5a596,20%)
            border-color: var(--button2-red-active-border,darken(#853232,15%))

    &.sub-active
        &:hover
            background: #f5f5f585

    &:hover
        background: var(--button2-neutral-hover,whitesmoke)
        border-color: #777777


    &:active
        background: var(--button2-neutral-active,#dbdbdb)
        border-color: #a9a9a9