.button2
    display: inline-flex
    border: 1px solid #b1b1b1
    padding: 6px 30px 6px 30px
    cursor: pointer
    user-select: none

    &.left-button
        border-radius: 15px 0 0 15px
        padding: 6px 22px 6px 30px

    &.right-button
        border-radius: 0 15px 15px 0
        padding: 6px 30px 6px 22px

    &:hover
        background: whitesmoke
        border-color: #777777


    &:active
        background: #dbdbdb
        border-color: #a9a9a9