@import url("@/css/fonts.styl")

.button1
    font-family: geist
    display: inline-flex
    font-size: 15px
    padding: 6px 8px
    border-radius: 8px
    cursor: pointer
    user-select: none
    align-items: center

    .icon-wrap svg
        width: 13px
        height: 13px
        margin-right: 5px

    .label
        display: flex
        align-items: center

    &:hover
        background-color: var(--button-hover,#f1f1f1)

    &:active
        background-color: var(--button-active,#dbdbdb)